button
{
background-color: red;
padding: 30px;
content-align: center;
}

h1
{
color: #118B50;
text-align: center;
background-color: #E3F0AF;
}

p
{
color: #5DB996;
text-align: center;
background-color: #FBF6E9;
padding: 60px;
}


